.container {
  position: relative;
}

.avatarButton {
  background: none;
  border: none;
  padding: 8px;
  cursor: pointer;
  border-radius: 50%;
  transition: background-color 0.2s;
  height: 64px;
}

.avatarButton:hover {
  background-color: var(--gray-alpha-200);
}

.avatar {
  width: 48px;
  height: 48px;
}

.menuContainer {
  position: absolute;
  top: 100%;
  right: 0;
  margin-top: 8px;
  background: var(--background);
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  min-width: 200px;
  z-index: 100;
  padding: 16px;
  border: 1px solid var(--gray-alpha-200);

  @media (max-width: 640px) {
    position: fixed;
    top: auto;
    bottom: 0;
    left: 0;
    margin: 0;
    border-radius: 16px 16px 0 0;
    padding: 18px 24px 24px 24px;
    background: var(--disney-teal);
    box-shadow: 0 -4px 12px rgba(0, 0, 0, 0.2);
    min-width: 100%;
    animation: slideUp 0.3s ease-out;
    border: none;
  }
}

.link {
  display: block;
  padding: 12px 16px;
  color: var(--foreground);
  text-decoration: none;
  transition: all 0.2s;
  font-weight: 700;
  border-radius: 6px;
  outline: none;

  @media (max-width: 640px) {
    padding: 16px;
    text-align: center;
    font-size: 18px;
    color: var(--inverted-foreground);
    background-color: var(--disney-teal-alpha);
    border-radius: 8px;
    transition: all 0.2s ease;
  }
}

.link:focus-visible {
  outline: 3px solid var(--disney-teal);
  outline-offset: 2px;
  background-color: var(--gray-alpha-200);

  @media (max-width: 640px) {
    outline-color: var(--background);
    background-color: var(--background);
    color: var(--disney-teal);
  }
}

.link:hover,
.link:active {
  background-color: var(--gray-alpha-200);
  color: var(--disney-teal);

  @media (max-width: 640px) {
    background-color: var(--background);
    color: var(--disney-teal);
  }
}

.menu {
  list-style: none;
  padding: 0;

  @media (max-width: 640px) {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 8px;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

.closeButton {
  position: relative;
  left: calc(100% - 32px);
  background: none;
  border: none;
  padding: 8px;
  cursor: pointer;
  font-size: 20px;
  color: var(--foreground);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  transition: all 0.2s ease;

  @media (max-width: 640px) {
    color: var(--background);
  }
}

.closeButton:hover {
  background-color: var(--gray-alpha-200);
  transform: scale(1.1);

  @media (max-width: 640px) {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

.active {
  background-color: var(--gray-alpha-200);
  color: var(--disney-teal);
  pointer-events: none;

  @media (max-width: 640px) {
    background-color: var(--background);
    color: var(--disney-teal);
  }
}
